.Reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
}
.reviews-header {
  text-align: left;
  margin-bottom: -40px;
  max-width: 1320px;
  width: 100%;
  padding-top: 60px;
  @media (max-width: 768px) {
    margin-bottom: -40px;
  }
  .tag {
    display: inline-block;
    background: #fff;
    color: #3a281e;
    padding: 8px 30px;
    border-radius: 30px;
    font-size: 15px;
  }

  .title {
    color: #3a281e;
    font-size: 64px;
    font-weight: 700;
    line-height: 0.95;
    padding-top: 20px;
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  .subtitle {
    font-family: "Arapey", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 70px;
    color: #3a281e;
    @media (max-width: 768px) {
      font-size: 42px;
    }
  }
}
